.profile img{
    height: 250px;
    width: 250px;
    border-radius: 15px;
}
.profile p{
    font-size: 30px;
    text-align: center;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-info img{
    height: 300px;
    width: 630px;
}
.card-info li{
    list-style: none;
}
.html{
    color: #e45e32;
}
.css{
    color: #2d6ee9;
}
body{
    background-image: url(/img/background1.jpg);
}
.card1{
    background-image: url(/img/camera2.jpeg);
    color: white;
}
.card2{
    background-image: url(/img/food2.jpeg);
    color: white;
}